<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div style="text-align: center;">
        {% if cliente %}
            <h2>Formulario Actualizar Datos</h2><br>
            <form action="{% url 'ClientesUpdate'  %}" method="POST">
                {% csrf_token %}
                
                <pre>Rut: <input type="text" name="rut" value="{{cliente.rut}}" readonly></pre>
                <pre>Nombre: <input type="text" name="nombre" value="{{cliente.nombre}}"></pre>
                <pre>Apellido Paterno: <input type="text" name="apaterno" value="{{cliente.apaterno}}"></pre>
                <pre>Apellido Materno: <input type="text" name="amaterno" value="{{cliente.amaterno}}"></pre>
                <pre>Email: <input type="text" name="email" value="{{cliente.email}}"></pre>
                <pre>Fono: <input type="text" name="fono" value="{{cliente.fono}}"></pre>
                <input type="submit" name="opcion" value="Actualizar">
            </form><br><br>
        {% endif %}
        <div id="idMensajes">
                {% if mensaje %}
                {{mensaje}}
                {% endif %}
        </div>
        <br><br>
        <a href="{% url 'crud' %}">Volver</a>
    </div>
</body>
</html>