{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Datos de Clientes</h1>
    <br>

    <button type="button">
        <a href="{% url 'ClientesAdd' %}"> Agregar </a>  <!-- el ppt lo va a explicar pronto -->
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}} <!--esto indica que el registro fue eliminado -->
        {% endif %}
    </div>

    <table>
        {% if clientes %}
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Email</th>
            <th>Fono</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for x in clientes %}
                <tr>
                    <td>{{x.rut}}
                    <td>{{x.nombre}}
                    <td>{{x.apaterno}}
                    <td>{{x.amaterno}}
                    <td>{{x.email}}
                    <td>{{x.fono}}
                    <td><a href="{% url 'clientes_del' pk=x.rut %}">Eliminar</a>
                    <td><a href="{% url 'clientes_findEdit' pk=x.rut %}">Modificar</a>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
    <script>
        $(document).ready(function(){
            $("#idmensajes").delay(2000).fadeOut("slow");
        });
    </script>
</body>
</html>