<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>Formulario CRUD para Clientes</h2><br>
        <form action="{% url 'ClientesAdd' %}" method="POST">
            {% csrf_token %}
            {{ form.as_table }}

            <pre>Rut: <input type="text" name="rut"></pre>
            <pre>Nombre: <input type="text" name="nombre"></pre>
            <pre>Apellido Paterno: <input type="text" name="apaterno"></pre>
            <pre>Apellido Materno: <input type="text" name="amaterno"></pre>
            <pre>Email: <input type="text" name="email"></pre>
            <pre>Fono: <input type="text" name="fono"></pre>

            <input type="submit" name="opcion" value="Agregar">
        </form><br><br>
        <a href="{% url 'crud' %}">Volver</a>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
    </div>
    <button type="button">
        <a href="{% url 'clientesAdd' %}"> Agregar </a>
    </button>
</body>
</html>